<!-- \\ Begin Footer \\-->
{% load static %}

<footer 
    style="padding: 20px 0; 
           text-align: center; 
           background: linear-gradient(90deg, #4b6cb7, #182848); 
           color: #fff; 
           font-family: system-ui, sans-serif; 
           box-shadow: 0 -2px 6px rgba(0,0,0,0.1);">
    
    <div style="max-width: 1100px; margin: 0 auto; padding: 0 20px;">
        <p style="margin: 0; font-size: 1.1rem; font-weight: 600;">
            Zaman &amp; Saloni | 
            <span style="color: #f0c040;">Learn. Build. Deploy.</span>
        </p>
    </div>
</footer>

<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<!-- <<Attached Javascripts>> -->
<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.sudoSlider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/global.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>