{% load static %}
<head>
    <meta charset="utf-8" />
    
    <!-- Title Tag -->
    <title>TeachTrack</title>
    <!-- <<Mobile Viewport Code>> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            
    <!-- <<Attched Stylesheets>> -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/media.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,400italic,800,700' rel='stylesheet' type='text/css'>    
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- \\ Begin Holder \\ -->
<div class="DesignHolder">
    <!-- \\ Begin Frame \\ -->
    <div class="LayoutFrame">
        <!-- \\ Begin Header \\ -->
        <header>
            <div class="Center">
                <div class="site-logo">
                    <h1><a href="#">Teach<span>Track</span></a></h1>
                </div>
            <div id="mobile_sec">
            <div class="mobile"><i class="fa fa-bars"></i><i class="fa fa-times"></i></div>
                <div class="menumobile">
                    <!-- \\ Begin Navigation \\ -->
                    <nav class="Navigation">
                        <ul>
                            <li class="active">                                
                                <a href="{% url 'index' %}">Home</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="https://www.aurogroup.ac/technology/">SAIT</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="/admin/">Admin</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">Logout</a>
                                <span class="menu-item-bg"></span>
                            </li>
                        </ul>
                    </nav>
                    <!-- // End Navigation // -->
                </div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        <!-- // End Header // -->