<!-- To make file staticfiles using :python manage.py collectstatic -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
{% include 'header1.html' %}
    <div class="container mt-3">
        <div class="py-5 text-center bg-secondary text-white">
            <h1 class="mb-3">Upload Your Images</h1>
            <form action="{% url 'image_upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="image" id="imageFile">
                <input type="submit" value="Upload" class="btn btn-danger">
            </form>
        </div>
        <div class="row">
            {% for i in img %}
            <div class="col-sm-4">
                <div class="card m-2">
                    <img src="{{i.photo.url}}" class="card-img-top" alt="Image" height="320px">
                    <div class="card-body">
                        <small class="card-text text-muted">Uploaded: {{i.date}}</small>
                        <form action="{% url 'delete_data' i.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm mt-2">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>